body {
    background-image: url("images/StarfieldSimulation.gif");
    background-size: cover;
    font-family: "Andale Mono", /*AndaleMono,*/ monospace;  
    color: white; 
}

.gameContainer {
    display: inline-block;
    margin: 0 auto;
    background-color: black;
}

.leaderboardContainer {
    display: inline-block;
    margin: 0 0 0 10px;
    position: absolute;
    width: auto;
    height: 878px;
    background: linear-gradient(90deg,#8900ff, #8900ff,#8900ff,#8900ff,#a43cff,#e96089, #f18546,#ff8900,#b4ff6e, #00ff00,#00ff00,#00ff00,#00ff00);
    animation: animatedgradient 6s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

canvas {
    width: 960px;
    height: 540px;
    border: 10px solid rgb(0, 255, 0);
    z-index: 999;
}

.howTo {
    margin-top: 10px;
    width: 960px;
    height: 135px;
    text-align: center;
    border: 10px solid rgb(0, 255, 0);
}

.title {
    width: 960px;
    height: 119px;
    top: 0;
    background: url(images/snakeplaceholder.png) no-repeat;
    background-size: 960px 119px;
    border: 10px solid rgb(0, 255, 0);
    margin: 0 0 10px;
}

.title:hover {
    background: url(images/snakeplaceholder2.png) no-repeat;
    background-size: 960px 119px;
}

.leaderboard {
    height: 848px;
    margin: 10px 10px 0 10px;
    width: auto;
    text-align: center;
    /* overflow-x: hidden; Disable horizontal scroll */
    background-color: black;
}

.leaderboard entries{
    color: rgb(0, 255, 0);
}

.menu_top ul{
    list-style-type: none;
    width: auto;
    /* padding: 5px 20px; */
    overflow: hidden;
    background-color:black;
    border: 10px solid rgba(0,255,0,1); 
}

.menu_top li{
    float: left;
}

.menu_top a{
    display: block;
    color: rgba(0,255,0,1); 
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.menu_top a:hover {
    color: black;
    background-color: #00FF00;
}