body {
    background-image: url("images/StarfieldSimulation.gif");
    background-size: cover;
    font-family: "Andale Mono", /*AndaleMono,*/ monospace;  
    color: white; 
}

canvas {
    display: inline-block;
    margin: 0 auto;
    width: 960px;
    height: 540px;
    border: 10px solid rgb(0, 255, 0);
    background-color: black;
    z-index: 999;
}

.title {
    width: 960px;
    height: 119px;
    /* position: absolute; */
    top: 0;
    background: url(images/snakeplaceholder.png) no-repeat;
    background-size: 960px 119px;
    border: 10px solid rgb(0, 255, 0);
    margin: 0 0 10px;
}

.title:hover {
    background: url(images/snakeplaceholder2.png) no-repeat;
    background-size: 960px 119px;
}

.howTo {
    display: inline-block;
    margin: 0 auto;
    margin-top: 10px;
    width: 960px;
    height: 135px;
    text-align: center;
    border:10px solid rgb(0, 255, 0);
    background-color: black;
}

.leaderboard {
    height: 86%; /* Full-height: remove this if you want "auto" height */
    width: 44.8%; /* Set the width of the sidebar */
    margin: 112px 20px 30px 20px;
    text-align: center;
    position: fixed; 
    
    top: 0; /* Stay at the top */
    right: 0;
    
    /* overflow-x: hidden; Disable horizontal scroll */
    /* border:10px solid rgb(0, 255, 0); */
    background-color: black;
}

.leaderboard entries{
    color: rgb(0, 255, 0);
}

.gradient-border {
    --borderWidth: 10px;
    background: black;
    position: fixed;
}
.gradient-border:after {
    content: '';
    margin: 103px 10px 20px 20px;
    height: 88%;
    width: 46%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(90deg,#8900ff, #8900ff,#8900ff,#8900ff,#a43cff,#e96089, #f18546,#ff8900,#b4ff6e, #00ff00,#00ff00,#00ff00,#00ff00);
    animation: animatedgradient 6s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.menu_top ul{
    list-style-type: none;
    /* padding: 5px 20px; */
    overflow: hidden;
    background-color:black;
    border: 10px solid rgba(0,255,0,1); 
}

.menu_top li{
    float: left;
}

.menu_top a{
    display: block;
    color: rgba(0,255,0,1); 
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.menu_top a:hover {
    color: black;
    background-color: #00FF00;
}